name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tigerbeetle-cdc-nats
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run unit tests
        run: go test ./...

  integration_containers:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tigerbeetle-cdc-nats
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run containerized integration test
        run: ./scripts/integration-test-containers.sh
